<div class="container"
     style="width: 50%;
     margin-right: auto;
     margin-left: auto;
">

  {{#each products}}
    <hr>
    <p><strong>Title:</strong> {{ this.title }}</p>
    <p><strong>Description:</strong> {{ this.description }}</p>
    <p><strong>Price:</strong> {{ this.price }}</p>
    <p><strong>Thumbnail:</strong> {{ this.thumbnail }}</p>
    <p><strong>Code:</strong> {{ this.code }}</p>
    <p><strong>Stock:</strong> {{ this.stock }}</p>
    <p><strong>Category:</strong> {{ this.category }}</p>
    <p><strong>Status:</strong> {{ this.status }}</p>
    <hr>
  {{/each}}
</div>
